body {
    margin: 10px;
    padding: 0;
    font-family: sans-serif;
}

.koalas {
    max-height: 200px;
    padding: 2px;
    border: solid 4px pink;
    margin: 2px;
}

.converter-container {width: 250px; text-align: right;}

input {margin-bottom: 20px; padding: 5px;}